/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2021, 8:39:05 PM
    Author     : ashna
*/


body{	background-color: mistyrose;
	font-family: Bodoni MT;
	margin: 2%;		}

h1,h2{	color:whitesmoke;
	background-color: black;
	text-align: center;
	border-bottom: 5px solid red;	}

.div1{	font-color:pink;
	background-color: maroon;	
	text-align:center;	}

img{	
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;	}

h3{	color:Teal;	}

footer{
    background-color: white;
}
#features{
    align-content: center;
    text-align: center;
    background-color: white;
}
.carousel-inner {   
  margin: auto;
}